* {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    background-color: rgb(75, 75, 75);
    color: #ffffff;
}

.logo {
    width: auto;
    height: 30px;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    margin: 30px;
    font-size: larger;
    cursor: pointer;

}

li:hover {
    color: rgb(255, 0, 0);
}


.btn {
    background-color: rgb(255, 47, 0);
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin-left: 30px;
} 
 .btn:hover {
    background-color: #ffffff;
    color: #000000;
}



/* This is a main first bannedr sectiomn  */


.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    height: 100vh;
    /* border: 2px solid black; */
    background-image: url("/images/background.png"), linear-gradient(45deg, #101010,#323232);
}

.head-line {
    font-size: 60px;
    color: aliceblue;
    text-align: left;
    margin-bottom: 15px;
}
p {
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-top {
    background-color: rgb(255, 47, 0);
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.btn-top:hover {
    background-color: #ffffff;
    color: #101010;
}

.btn:hover {
    color: rgb(7, 125, 228);
}


/* This is about Section */


.about-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}

.about-us {
    text-align: center;
    margin: 30px;
    color: #000000;
    font-size: 50px;
}

.about-info {
    margin-left: 200px;
    display:inline-block;
}

.h1-about {
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 900;
    margin-top: 20px;
    margin-bottom: 10px;
}

.about-photo {
    margin-left: 100px;
    
}

/* This is a Our servish sectiomn  */

.box {
    width: 200px;
    height: 300px;
    background-color: black;
    text-align: center;
    color: aliceblue;
    padding: 7px;
    border-radius: 10px;
    box-shadow: 2px 2px 40px  white;
}

.service-container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.service-logo{
    padding: 15px;
    width: 75px;
}

.service-text {
    font-size: 14px;
    text-align: justify;
    padding: 0 5px 0 5px;
}

.sevice {
    background-color: rgb(255, 47, 0);
    padding: 3px 15px;
    border-radius: 50px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.sevice:hover{
    background-color: #ffffff;
    color: #101010;
}


.section-3 {
    background-color: rgb(30, 31, 31);
    height: 550px;
    background-image: url(/images/background.png);
}

.h1 {
    color: aliceblue;
    font-size: 50px;
    text-align: center;
    font-weight: 800;
    padding: 25px;

}

h2 {
    padding-bottom: 10px;
}

/* This is OTHER Section */

.section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 300px;
    background-color: #625b5b;
    color: #ffffff;
    background-image: url(/images/gif\ tech.gif);
    
    
}

.My-section {
    text-align: center;
    font-size: 50px;
    padding: 20px;
    background-color: #625b5b;
    /* border-bottom: 5px solid rgb(152, 150, 150); */
    color: #ffffff;
    

}

.my-photo {
    height: 200px;
    width: 200px;
    background-color: aqua;
}


.btn3 {
    background-color: rgb(255, 47, 0);
    padding: 10px 30px;
    border-radius: 50px;
    border: none;
    color: aliceblue;
    cursor: pointer;
}

.btn3:hover {
    background-color: #ffffff;
    color: #101010;
}

.my-ditiles {
    font-size: 15px
}


.Service-name {
    text-shadow: 2px 2px 10px #ff0404;
}


/* This is footer Section */

.end-section{
    height: 400px;
    background-color: #323232;
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
    /* background-image: url(/images/gif\ tech.gif); */
    /* filter: blur(2px); */
}

h4 {
    font-size: 20px;
    padding-bottom: 15px;
}

.foot-logo {
    padding-bottom: 15px;
}

.foot0 {
    text-align: center;
    height: 50px;
    background-color: #323232;
    color:aliceblue
}
.foot-text {
    margin: 20px;
}

hr {
 margin-left: 100px;
 margin-right: 100px;
 border: 0.25px solid rgb(143, 142, 142);
}

.foot0,hr{
    align-items: center;
}

